$navlist-block-padding = 10px
$breadcrumb-separator = $unicode-chars['double-arrow-right']
$breadcrumb-path-separator = $unicode-chars['forward-slash']

.navlist
  navlistize()

.navlist--stacked
  extend-navlist-stacked()

.navlist--banner
  extend-navlist-banner()

.navlist--block
  extend-navlist-block($navlist-block-padding)

.navlist--fit
  extend-navlist-fit()

.navlist--keywords
  extend-navlist-keywords()

.breadcrumb
  extend-navlist-breadcrumb($breadcrumb-separator)

.breadcrumb--path
  extend-navlist-breadcrumb($breadcrumb-path-separator)

.pagination
  extend-navlist-pagination(15px)

.navlist--no-whitespace
  letter-spacing -0.31em
  word-spacing -0.43em
  white-space nowrap
  /*> li*/
    /*letter-spacing normal*/
    /*word-spacing normal*/

.navlist-demo
  .island
    border 1px solid #000000
    background-color #008000
    .navlist
      background-color #ff0000

/*$after-content-char = 'double-arrow'*/
/*$after-content = $unicode-chars[$after-content-char]*/
/*$after-content = ""*/
/*.after-test*/
  /*&:after*/
    /*content $after-content*/
    /*border 1px solid #000000*/