/*------------------------------------*\
    $NAV
\*------------------------------------*/
/**
 * Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 * When used on an `ol` or `ul`, this class throws the list into horizontal mode
 * e.g.:
 *
   <ul class=nav>
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 * Demo: jsfiddle.net/inuitcss/Vnph4
 *
 */

navlistize()
  list-style none
  margin-left 0
  padding-left 0
  clearfix()
  > li
    &
    > a
      display inline-block
      *display inline
      zoom 1


/**
 * `.nav--stacked` extends `.nav` and throws the list into vertical mode, e.g.:
 *
   <ul class="nav  nav--stacked">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
extend-navlist-stacked()
  > li
    display list-item
    > a
      display block


/**
 * `.nav--banner` extends `.nav` and centres the list, e.g.:
 *
   <ul class="nav  nav--banner">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
extend-navlist-banner()
  text-align center


/**
 * Give nav links a big, blocky hit area. Extends `.nav`, e.g.:
 *
   <ul class="nav  nav--block">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
extend-navlist-block($padding)
  line-height 1
  /* Remove whitespace caused by `inline-block` */
  letter-spacing -0.31em
  word-spacing -0.43em
  white-space nowrap
  > li
    letter-spacing normal
    word-spacing normal
    > a
      padding $padding


/**
 * Force a nav to occupy 100% of the available width of its parent. Extends
 * `.nav`, e.g.:
 *
   <ul class="nav  nav--fit">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 * Thanks to @pimpl for this idea!
 */
extend-navlist-fit()
  display table
  width 100%
  > li
    display table-cell
    > a
      display block


/**
 * Make a list of keywords. Extends `.nav`, e.g.:
 *
   `<ul class="nav  nav--keywords>`
 *
 */
extend-navlist-keywords()
  > li
    &:after
      content "\002C" "\00A0"
    &:last-child:after
      display none

/*------------------------------------*\
    $BREADCRUMB
\*------------------------------------*/
/**
 * Simple breadcrumb styling to apply to (ordered) lists. Extends `.nav`, e.g.:
 *
   <ol class="nav  breadcrumb">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>The Board</a></li>
       <li class=current><a href=#>Directors</a></li>
   </ol>
 *
 * Demo: jsfiddle.net/inuitcss/rkAY9
 *
 */


/**
 * Assign a delimiter on the fly through a data attribute, e.g.:
 *
   <ol class="nav  breadcrumb">
       <li><a href=#>Home</a></li>
       <li data-breadcrumb="|"><a href=#>About</a></li>
       <li data-breadcrumb="|"><a href=#>The Board</a></li>
       <li data-breadcrumb="|" class=current><a href=#>Directors</a></li>
   </ol>
 *
 */

extend-navlist-breadcrumb($separator="\00BB")
  $s = selector()
  > li + li:before
    content $separator "\00A0"
  > li + li[data-breadcrumb]:before
    /* Assign a delimiter on the fly through a data attribute */
    content attr(data-breadcrumb) "\00A0"
  /{$s}__root
    /* Denote the root of the tree */
    font-weight bold

/**
 * For denoting a path-like structure, GitHub style, e.g.:
 *
   <ol class="nav  breadcrumb--path">
       <li class=breadcrumb__root><a href=#>inuit.css</a></li>
       <li><a href=#>inuit.css</a></li>
       <li><a href=#>partials</a></li>
       <li class=current><a href=#>objects</a></li>
   </ol>
 *
 */
/*extend-navlist-breadcrumb-path()*/
  /*> li + li:before*/
    /*content "\002F" "\00A0"*/

/*------------------------------------*\
$PAGINATION
\*------------------------------------*/
/**
 * Basic pagination object, extends `.nav`.
 * Requires some funky commenting to collapse any white-space caused by the
 * `display:inline-block;` rules.
 *
   <ol class="nav  pagination">
       <li class=pagination__first>First</li>
       <li class=pagination__prev>Previous</li>
       <li><a href=/page/1>1</a></li>
       <li><a href=/page/2>2</a></li>
       <li class=current><a href=/page/3>3</a></li>
       <li><a href=/page/4>4</a></li>
       <li><a href=/page/5>5</a></li>
       <li class=pagination__next><a href=/page/next>Next</a></li>
       <li class=pagination__last><a href=/page/last>Last</a></li>
   </ol>
 *
 * Demo: jsfiddle.net/inuitcss/9Y6PU
 *
 */

extend-navlist-pagination($spacing)
  $base-selector = selector()
  $first-selector = $base-selector + '__first'
  $prev-selector = $base-selector + '__prev'
  $next-selector = $base-selector + '__next'
  $last-selector = $base-selector + '__last'
  $double-arrow-left = $unicode-chars['left-pointing-double-angle-quotation-mark']
  $double-arrow-right = $unicode-chars['right-pointing-double-angle-quotation-mark']
  $single-arrow-left = $unicode-chars['single-left-pointing-angle-quotation-mark']
  $single-arrow-right = $unicode-chars['single-right-pointing-angle-quotation-mark']
  $space = $unicode-chars['space']

  text-align center
  /* Remove whitespace caused by `inline-block` */
  letter-spacing -0.31em
  word-spacing -0.43em
  > li
    padding $spacing
    letter-spacing normal
    word-spacing normal
    > a
      padding $spacing
      margin -($spacing)
  /{$first-selector}
    a:before
      content $double-arrow-left $space
  /{$prev-selector}
    a:before
      content $single-arrow-left $space
  /{$next-selector}
    a:after
      content $space $single-arrow-right
  /{$last-selector}
    a:after
      content $space $double-arrow-right