---
layout: navigation_layout.hbs
classes:
- responsive-nav-patterns
- clean-grid
---
<header class="example-header cf">

    <div class="container">

        <nav class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Collection</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Directions</a></li>
            </ul>
        </nav>

    </div>

</header>