---
layout: navigation_layout.hbs
classes:
- responsive-nav-patterns
- select-menu
customScripts:
- /bower_components/TinyNav.js/tinynav.js
- /scripts/selectMenu.js
---
{{!--<header class="site-header">--}}
    {{!--<h1 class="left">Navbar title</h1>--}}
    {{!--<nav class="nav example-nav">--}}
        {{!--<ul>--}}
            {{!--<li><a href="#">Item 1</a></li>--}}
            {{!--<li><a href="#">Item 2</a></li>--}}
            {{!--<li><a href="#">Item 3</a></li>--}}
            {{!--<li><a href="#">Item 4</a></li>--}}
        {{!--</ul>--}}
    {{!--</nav>--}}
{{!--</header>--}}

<header class="example-header cf">
    <nav class="example-nav">
        <ul class="dropdown l_tinynav1">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Things</a>
                <ul class="sub_menu">
                    <li><a href="#">Trinkets</a></li>
                    <li><a href="#">Bobbles</a></li>
                    <li><a href="#">Stuff</a></li>
                </ul>
            </li>
            <li><a href="#">Collection</a>
                <ul class="sub_menu">
                    <li><a href="#">How Tos</a></li>
                    <li><a href="#">Whereabouts</a></li>
                    <li><a href="#">Therefores</a></li>
                </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <select id="tinynav1" class="tinynav tinynav1">
            <option value="#">Home</option>
            <option value="#">About</option>
            <option value="#">Things</option>
            <option value="#">- Trinkets</option>
            <option value="#">- Bobbles</option>
            <option value="#">- Stuff</option>
            <option value="#">Collection</option>
            <option value="#">- How Tos</option>
            <option value="#">- Whereabouts</option>
            <option value="#">- Therefores</option>
            <option value="#">Blog</option>
            <option value="#" selected="selected">Contact</option>
        </select>
    </nav>
</header>