---
layout: navigation_layout.hbs
classes:
- responsive-nav-patterns
- simple-toggle
customScripts:
- /scripts/simpleToggle.js
---
<header class="example-header cf">
    <nav class="nav clearfix">
        <a id="menu-toggle" class="anchor-link" href="#">Menu</a>
        <ul class="simple-toggle" id="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Directions</a></li>
        </ul>
    </nav>
</header>