---
layout: standard_layout.hbs
---
<div class="centering-block">
    <div class="centered-block">
        Centered
    </div>
</div>
<div class="container">
    <div class="main-content">
        This is the main content. It should take up 2/3rds of the main element and should have a blue background.
    </div>
    <div class="left-aside">
        This is the left aside. It should take up the left 1/6th of the main element and should have a yellow background.
    </div>
    <div class="right-aside">
        This is the right aside. It should take up the right 1/6th of the main element and should have a red background.
    </div>
</div>
<div class="stacking-block">
    <div class="stacked-block stacked-block--1">I should be stacked</div>
    <div class="stacked-block stacked-block--2">Me too</div>
</div>