@import 'settings'
@import 'generic'
@import 'base'
@import 'components'
@import 'layout'

/*@import 'bootstrap-stylus/stylus/bootstrap'*/
/*main*/
  /*width 1000px*/
  /*margin 0 auto*/
  /*padding-top 50px*/

/*$ident-alignments = left right center*/
/*$string-alignments = 'left' 'right' 'center'*/
/*$lists = $ident-alignments $string-alignments*/
/*for $list in $lists*/
  /*p('$list: ' + $list)*/
  /*for $item in $list*/
    /*p('$item: ' + $item)*/
    /*for $l in $lists*/
      /*p('$l: ' + $l)*/
      /*$in-list = $item in $l ? 'true' : 'false'*/
      /*p($item + ' in ' + $l + ': ' + $in-list)*/

/*@import 'scope-test'*/

/*p(scope-test)*/
/*scope-test.fn1(scope-test)*/