@import 'settings'
@import 'generic'
@import 'base'
@import 'components'
@import 'layout'

/*@import 'bootstrap-stylus/stylus/bootstrap'*/
/*main*/
  /*width 1000px*/
  /*margin 0 auto*/
  /*padding-top 50px*/

/*foo($block-or-hash={})*/
  /*p(length($block-or-hash))*/

/*$block =*/
  /*a 1*/
  /*b 2*/
/*$hash = {*/
  /*a: 1,*/
  /*b: 2*/
/*}*/
/*p('foo():')*/
/*foo()*/
/*p('foo($block):')*/
/*foo($block)*/
/*p('foo($hash):')*/
/*foo($hash)*/

/*$null = null*/
/*p($null is null)*/