---
layout: navigation_layout.hbs
---
<nav class="axis-navbar">
    <h1>Navbar title</h1>
    <ul> navigation list
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
    </ul>
</nav>