---
layout: navigation_layout.hbs
classes:
- go-to-bottom
customScripts:
- /scripts/goToBottom.js
---
<header class="nav-header">
    <nav class="nav-header__nav">
        <ul>
            <li>
                <a href="#the-bottom" class="button">Go to the bottom</a>
            </li>
        </ul>
    </nav>
</header>
<div class="sliding-container">
    <div class="at-the-bottom" id="the-bottom">The bottom</div>
</div>