.responsive-nav-patterns
  &.always-off-canvas
    .example-header
      width: 100%
      position: relative
      background-color: #f4f4f4
      height: 100px
      z-index: inherit
    .e-logo
      line-height 100px
    .goingright
      display: none
    .nav-collapsed .goingleft
      display: none
    .nav-collapsed .goingright
      display: inline