@import 'do-nothing'
@import 'footer-menu'
@import 'select-menu'
@import 'simple-toggle'
@import 'multi-toggle'
@import 'off-canvas-slide'
@import 'always-off-canvas'
@import 'clean-grid'
@import 'the-flip'

.responsive-nav-patterns
  .cf
    cf()