$unicode-chars = {}
$unicode-chars['space'] = "\00A0"
$unicode-chars['forward-slash'] = "\002F"
$unicode-chars['left-pointing-double-angle-quotation-mark'] = "\00AB"
$unicode-chars['right-pointing-double-angle-quotation-mark'] = "\00BB"
$unicode-chars['single-left-pointing-angle-quotation-mark'] = "\2039"
$unicode-chars['single-right-pointing-angle-quotation-mark'] = "\203A"