---
layout: standard_layout.hbs
---
{{!--$arrow-edges = {--}}
{{!--top: 'left' 'center' 'right',--}}
{{!--right: 'top' 'center' 'bottom',--}}
{{!--bottom: 'left' 'center' 'right',--}}
{{!--left: 'top' 'center' 'bottom'--}}
{{!--}--}}
<div class="arrow-up"></div>
<div class="arrow-down"></div>
<div class="arrow-left"></div>
<div class="arrow-right"></div>
<div class="arrow-demo">
    <div class="arrow">
        div.arrow and some meaningless filler
    </div>
    <div class="arrow arrow--top-left">
        div.arrow.arrow--top-left
    </div>
    <div class="arrow arrow--top-center">
        div.arrow.arrow--top-center
    </div>
    <div class="arrow arrow--top-right">
        div.arrow.arrow--top-right
    </div>
    <div class="arrow arrow--right-top">
        div.arrow.arrow--right-top
    </div>
    <div class="arrow arrow--right-center">
        div.arrow.arrow--right-center
    </div>
    <div class="arrow arrow--right-bottom">
        div.arrow.arrow--right-bottom
    </div>
    <div class="arrow arrow--bottom-left">
        div.arrow.arrow--bottom-left
    </div>
    <div class="arrow arrow--bottom-center">
        div.arrow.arrow--bottom-center
    </div>
    <div class="arrow arrow--bottom-right">
        div.arrow.arrow--bottom-right
    </div>
    <div class="arrow arrow--left-top">
        div.arrow.arrow--left-top
    </div>
    <div class="arrow arrow--left-center">
        div.arrow.arrow--left-center
    </div>
    <div class="arrow arrow--left-bottom">
        div.arrow.arrow--left-bottom
    </div>
</div>