---
layout: standard_layout.hbs
---
<button class="btn">
    button.btn
</button>
<button class="btn btn--pill">
    button.btn.btn--pill
</button>
<a href="#" class="btn">
    a.btn
</a>
<a href="#" class="btn btn--pill">
    a.btn.btn--pill
</a>
<button class="btn btn--grad">
    button.btn.btn--grad
</button>
<button class="btn btn--borderized">
    button.btn.btn--borderized
</button>
<button class="btn btn--box-cutter">
    button.btn.btn--box-cutter
</button>
<button class="btn btn--rounded">
    button.btn.btn--rounded
</button>
<button class="btn btn--tabbed">
    button.btn.btn--tabbed
</button>
<div>
    <button class="btn btn--full">
        button.btn.btn--full
    </button>
    <button class="btn btn--full">
        button.btn.btn--full
    </button>
</div>