---
layout: standard_layout.hbs
---
<div class="island-demo">
    <div class="island green">
        I am a green island
    </div>
    <div class="island red">
        I am a red island
        <div class="island green">
            I am a nested green island
        </div>
    </div>
    <div class="island blue">
        I am a blue island
    </div>
</div>