---
layout: standard_layout.hbs
---
<div class="media-demo island">
    <div class="media">
        <img src="/images/yeoman.png" alt="" class="media__img">
        <p class="media__body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </p>
    </div>
</div>