---
layout: standard_layout.hbs
---
<div class="navlist-demo">
    <div class="island">
        <p>Basic navlist</p>
        <nav class="nav">
            <ul class="navlist">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="island">
        <p>Stacked navlist</p>
        <nav class="nav">
            <ul class="navlist navlist--stacked">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="island">
        <p>Banner navlist</p>
        <nav class="nav">
            <ul class="navlist navlist--banner">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="island">
        <p>Block navlist</p>
        <nav class="nav">
            <ul class="navlist navlist--block">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="island">
        <p>Fit navlist</p>
        <nav class="nav">
            <ul class="navlist navlist--fit">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="island">
        <p>Keywords navlist</p>
        <nav class="nav">
            <ul class="navlist navlist--keywords">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="island">
        <p>Basic navlist w/ buttons*</p>
        <nav class="nav">
            <ul class="navlist">
                <li><a class="btn btn--tabbed" href="#">Home</a>
                <li><a class="btn btn--tabbed" href="#">About</a>
                <li><a class="btn btn--tabbed" href="#">Portfolio</a>
                <li><a class="btn btn--tabbed" href="#">Contact</a>
            </ul>
        </nav>
        <p>
            <small>*There are a few ways to deal with eliminating spaces between elements when using
            <code>display: inline-block;</code>. See
            <a href="http://css-tricks.com/fighting-the-space-between-inline-block-elements/" target="_blank">here</a> and
            <a href="http://davidwalsh.name/remove-whitespace-inline-block" target="_blank">here</a> for suggestions,
            but for now, I'm opting for omitting closing tags.</small>
        </p>
    </div>
    <div class="island">
        <p>Block navlist w/ buttons</p>
        <nav class="nav">
            <ul class="navlist navlist--block">
                <li><a class="btn btn--tabbed" href="#">Home</a></li>
                <li><a class="btn btn--tabbed" href="#">About</a></li>
                <li><a class="btn btn--tabbed" href="#">Portfolio</a></li>
                <li><a class="btn btn--tabbed" href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="island">
        <p>Fit navlist w/ buttons</p>
        <nav class="nav">
            <ul class="navlist navlist--fit">
                <li><a class="btn btn--tabbed" href="#">Home</a></li>
                <li><a class="btn btn--tabbed" href="#">About</a></li>
                <li><a class="btn btn--tabbed" href="#">Portfolio</a></li>
                <li><a class="btn btn--tabbed" href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="island">
        <p>Breadcrumbs</p>
        <nav class="nav">
            <ul class="navlist breadcrumb">
                <li><a class="breadcrumb__root" href="#">Home</a></li>
                <li><a class="" href="#">About</a></li>
                <li><a class="" href="#">Portfolio</a></li>
                <li><a class="" href="#">Ringling Bros</a></li>
            </ul>
        </nav>
    </div>
    <div class="island">
        <p>Breadcrumb path</p>
        <nav class="nav">
            <ul class="navlist breadcrumb breadcrumb--path">
                <li><a class="breadcrumb__root" href="#">Home</a></li>
                <li><a class="" href="#">About</a></li>
                <li><a class="" href="#">Portfolio</a></li>
                <li><a class="" href="#">Ringling Bros</a></li>
            </ul>
        </nav>
    </div>
    <div class="island">
        <p>Pagination</p>
        <nav class="nav">
            <ol class="navlist pagination">
                <li class="pagination__first"><a href="#">First</a></li>
                <li class="pagination__prev"><a href="#">Previous</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="current"><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li class="pagination__next"><a href="#">Next</a></li>
                <li class="pagination__last"><a href="#">Last</a></li>
            </ol>
        </nav>
    </div>
</div>