---
layout: standard_layout.hbs
---
{{!--<table class="table table--bordered table--striped table--data">--}}
    {{!--<thead>--}}
    {{!--<tr>--}}
        {{!--<th colspan="3">Foo</th>--}}
        {{!--<th>Bar</th>--}}
    {{!--</tr>--}}
    {{!--<tr>--}}
        {{!--<th>Lorem</th>--}}
        {{!--<th>Ipsum</th>--}}
        {{!--<th class="numerical">Dolor</th>--}}
        {{!--<th>Sit</th>--}}
    {{!--</tr>--}}
    {{!--</thead>--}}
    {{!--<tbody>--}}
    {{!--<tr>--}}
        {{!--<th rowspan="3">Sit</th>--}}
        {{!--<td>Dolor</td>--}}
        {{!--<td class="numerical">03.788</td>--}}
        {{!--<td>Lorem</td>--}}
    {{!--</tr>--}}
    {{!--<tr>--}}
        {{!--<td>Dolor</td>--}}
        {{!--<td class="numerical">32.210</td>--}}
        {{!--<td>Lorem</td>--}}
    {{!--</tr>--}}
    {{!--<tr>--}}
        {{!--<td>Dolor</td>--}}
        {{!--<td class="numerical">47.797</td>--}}
        {{!--<td>Lorem</td>--}}
    {{!--</tr>--}}
    {{!--<tr>--}}
        {{!--<th rowspan="2">Sit</th>--}}
        {{!--<td>Dolor</td>--}}
        {{!--<td class="numerical">09.640</td>--}}
        {{!--<td>Lorem</td>--}}
    {{!--</tr>--}}
    {{!--<tr>--}}
        {{!--<td>Dolor</td>--}}
        {{!--<td class="numerical">12.117</td>--}}
        {{!--<td>Lorem</td>--}}
    {{!--</tr>--}}
    {{!--</tbody>--}}
{{!--</table>--}}
<div class="table-test-page">
    {{!--<table class="table table--bordered table-bordered table-striped table-hover">--}}
    <table class="table table-responsive">
    {{!--<table class="table">--}}
        <caption>
            This is the caption.
            <details>
                These are the details.
            </details>
        </caption>
        <colgroup>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
            <tr>
                <th colspan=3>Foo</th>
                <th>Bar</th>
            </tr>
            <tr>
                <th>Lorem</th>
                <th>Ipsum</th>
                <th>Dolor</th>
                <th>Sit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th rowspan="3">Sit</th>
                <td>Dolor</td>
                <td>03.788</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <td>Dolor</td>
                <td>32.210</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <td>Dolor</td>
                <td>47.797</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <th rowspan="2">Sit</th>
                <td>Dolor</td>
                <td>09.640</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <td>Dolor</td>
                <td>12.117</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <th>Another header</th>
                <td>data 1</td>
                <td>next one is empty</td>
                <td></td>
            </tr>
        </tbody>
        {{!--<tfoot>--}}
            {{!--<tr>--}}
                {{!--<th>Foot head 1</th>--}}
                {{!--<td>Foot data 1</td>--}}
                {{!--<td>Foot data 2</td>--}}
                {{!--<th>Foot head 2</th>--}}
            {{!--</tr>--}}
        {{!--</tfoot>--}}
    </table>
    <div class="spacer"></div>
</div>